html{
  background-image: url("../images/background.png");
  background-size: 100%;

}

body{
  max-width:1800px;
  width: 100%;
  height: 80%;
    margin: 0 auto;

}

/*Navbar related css*/
.brand-logo{
  margin-left:40px;
}

nav{
  height:85px;
}

.nav-wrapper{
  	background-color:#e37e00;
}

.navMaster{
  margin-right:100px;
}

.navSignIn{
  margin-top: 15px;
  margin-left:30px;
}

.navSignIn-side{
  margin: 20px 20px 20px 85px;
}

.navItem{
  height:65px !important;
  width: 120px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

.navFocus{
  color: #212121;
}

.dropdown-content {
  margin-top:30px;
  display: block;
}

.btnSetting{
  height:50px;
  width:130px;
  margin-top:-18px;
  font-size:14px;
}

/*Footer styling*/
.master-footer{
  background-color:#e37e00;
  position: relative;
  bottom:0;
  width:100%;
  max-width:1800px;
  margin-top:70px;

}

.page-footer{
  background-color:#e37e00 !important;
}

.page-footer h5{
  font-family: 'Fredoka One', cursive;
}

.page-footer-container{
  height:180px;


}

.footer-copyright{
  margin-top:50px;

}

/*User Page*/
.userPage{
  width:650px;
  margin-top: 70px;
}

/*Create Dataset.php styling*/
.dataset-instruction-style{
  color:white;
  margin-bottom:30px;
}

.dataset-instruction-style h2{
    font-family: 'Fredoka One', cursive;
}

.datasetPg-btn{
    width: 160px;
    height:45px;
    margin:4px;
}

.datasetPg-btn div{
    margin-top:5px;
}

.inform-signin{
  margin-top:-27px;
  margin-left: 30px;
}

form{
  color:white;
  width:520px;
  margin-left:auto;
  margin-right:auto;
}

.form-title{
    font-family: 'Fredoka One', cursive;
}

.createPg-btn {
  width: 160px;
  height:45px;

}

/*View Dataset Page styling*/
.view-dataset-master{
  margin-top: 50px;
}

.view-dataset-master h3{
    font-family: 'Fredoka One', cursive;
    color: white;
}

.view-dataset-tr{
  background-color: #303f9f;
  font-size:16px;
  color:white;

}

.view-dataset{
  margin-top:50px;
}

.view-dataset-title{
  width:200px;
}

.view-dataset-title a{
  color: black;
}

/*Specific dataset page*/
.card-content{

  overflow:auto;
}

.dataset-pic{
  margin-bottom:200px;
}

.dataset-body p{
  font-size: 19px;
}

.dataset-body h5{
  font-weight: bold;
}
