body{
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
}
.brand-logo{
  margin-left:40px;
}

nav{
  height:85px;
}

.navMaster{
  margin-right:100px;
}

.navSignIn{
  margin-top: 15px;
  margin-right:70px;
}

.navSignIn-side{
  margin: 20px 20px 20px 85px;
}

.btnSignOut{
  height:50px;
  width:130px;
  margin-top:-18px;
  font-size:14px;
}

.navItem{
  height:65px !important;
  width: 120px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

.navFocus{
  color: #212121;
}

.page-footer{
    height:289px;
}

.page-footer h5{
  font-family: 'Fredoka One', cursive;
}

.page-footer-container{
  margin-top:20px;
}

.footer-copyright{
  margin-top:10px;
}

span{
  margin-top:20px;
}
